<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.AccDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.AccDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="tradeEnv" column="trade_env" jdbcType="INTEGER"/>
        <result property="accId" column="acc_id" jdbcType="VARCHAR"/>
        <result property="tradeMarketAuthList" column="trade_market_auth_list" jdbcType="VARCHAR"/>
        <result property="accType" column="acc_type" jdbcType="INTEGER"/>
        <result property="cardNum" column="card_num" jdbcType="VARCHAR"/>
        <result property="firm" column="firm" jdbcType="INTEGER"/>
        <result property="simAccType" column="sim_acc_type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,trade_env,acc_id,
        trade_market_auth_list,acc_type,card_num,
        firm,sim_acc_type
    </sql>
    <insert id="insertBatch">
        insert into t_acc(trade_env,acc_id,
        trade_market_auth_list,acc_type,card_num,
        firm,sim_acc_type)
        values
        <foreach collection="accDtoCollection" item="item" separator=",">
            (#{item.tradeEnv,jdbcType=NUMERIC},#{item.accId,jdbcType=VARCHAR},
            #{item.tradeMarketAuthList,jdbcType=VARCHAR},#{item.accType,jdbcType=NUMERIC},#{item.cardNum,jdbcType=VARCHAR},
            #{item.firm,jdbcType=NUMERIC},#{item.simAccType,jdbcType=INTEGER})
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach collection="accDtoCollection" item="item" open="" close="" index="index" separator=";">
            update t_acc
            set trade_env=#{item.tradeEnv,jdbcType=NUMERIC},
            acc_id=#{item.accId,jdbcType=VARCHAR},
            trade_market_auth_list=#{item.tradeMarketAuthList,jdbcType=VARCHAR},
            acc_type=#{item.accType,jdbcType=INTEGER},
            card_num=#{item.cardNum,jdbcType=VARCHAR},
            firm=#{item.firm,jdbcType=INTEGER},
            sim_acc_type=#{item.simAccType,jdbcType=INTEGER}
            where id=#{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>
