<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.OrderDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.OrderDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="accId" column="acc_id" jdbcType="VARCHAR"/>
        <result property="tradeEnv" column="trade_env" jdbcType="INTEGER"/>
        <result property="accTradeMarket" column="acc_trade_market" jdbcType="INTEGER"/>
        <result property="tradeSide" column="trade_side" jdbcType="INTEGER"/>
        <result property="orderType" column="order_type" jdbcType="INTEGER"/>
        <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="orderIdEx" column="order_id_ex" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="qty" column="qty" jdbcType="DOUBLE"/>
        <result property="price" column="price" jdbcType="DOUBLE"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="fillQty" column="fill_qty" jdbcType="DOUBLE"/>
        <result property="fillAvgPrice" column="fill_avg_price" jdbcType="DOUBLE"/>
        <result property="lastErrMsg" column="last_err_msg" jdbcType="VARCHAR"/>
        <result property="securityMarket" column="security_market" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="auxPrice" column="aux_price" jdbcType="DOUBLE"/>
        <result property="trailType" column="trail_type" jdbcType="INTEGER"/>
        <result property="trailValue" column="trail_value" jdbcType="DOUBLE"/>
        <result property="trailSpread" column="trail_spread" jdbcType="DOUBLE"/>
        <result property="currency" column="currency" jdbcType="INTEGER"/>
        <result property="tradeMarket" column="trade_market" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,acc_id,trade_env,
        acc_trade_market,trade_side,order_type,
        order_status,order_id,order_id_ex,
        code,name,qty,
        price,create_time,update_time,
        fill_qty,fill_avg_price,last_err_msg,
        security_market,remark,aux_price,
        trail_type,trail_value,trail_spread,
        currency,trade_market
    </sql>
    <insert id="insertSelective">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accId != null">acc_id,</if>
            <if test="tradeEnv != null">trade_env,</if>
            <if test="accTradeMarket != null">acc_trade_market,</if>
            <if test="tradeSide != null">trade_side,</if>
            <if test="orderType != null">order_type,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="orderId != null">order_id,</if>
            <if test="orderIdEx != null">order_id_ex,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="qty != null">qty,</if>
            <if test="price != null">price,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="fillQty != null">fill_qty,</if>
            <if test="fillAvgPrice != null">fill_avg_price,</if>
            <if test="lastErrMsg != null">last_err_msg,</if>
            <if test="securityMarket != null">security_market,</if>
            <if test="remark != null">remark,</if>
            <if test="auxPrice != null">aux_price,</if>
            <if test="trailType != null">trail_type,</if>
            <if test="trailValue != null">trail_value,</if>
            <if test="trailSpread != null">trail_spread,</if>
            <if test="currency != null">currency,</if>
            <if test="tradeMarket != null">trade_market,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accId != null">#{accId,jdbcType=VARCHAR},</if>
            <if test="tradeEnv != null">#{tradeEnv,jdbcType=OTHER},</if>
            <if test="accTradeMarket != null">#{accTradeMarket,jdbcType=OTHER},</if>
            <if test="tradeSide != null">#{tradeSide,jdbcType=OTHER},</if>
            <if test="orderType != null">#{orderType,jdbcType=OTHER},</if>
            <if test="orderStatus != null">#{orderStatus,jdbcType=OTHER},</if>
            <if test="orderId != null">#{orderId,jdbcType=VARCHAR},</if>
            <if test="orderIdEx != null">#{orderIdEx,jdbcType=VARCHAR},</if>
            <if test="code != null">#{code,jdbcType=VARCHAR},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="qty != null">#{qty,jdbcType=DOUBLE},</if>
            <if test="price != null">#{price,jdbcType=DOUBLE},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="fillQty != null">#{fillQty,jdbcType=DOUBLE},</if>
            <if test="fillAvgPrice != null">#{fillAvgPrice,jdbcType=DOUBLE},</if>
            <if test="lastErrMsg != null">#{lastErrMsg,jdbcType=VARCHAR},</if>
            <if test="securityMarket != null">#{securityMarket,jdbcType=OTHER},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
            <if test="auxPrice != null">#{auxPrice,jdbcType=DOUBLE},</if>
            <if test="trailType != null">#{trailType,jdbcType=OTHER},</if>
            <if test="trailValue != null">#{trailValue,jdbcType=DOUBLE},</if>
            <if test="trailSpread != null">#{trailSpread,jdbcType=DOUBLE},</if>
            <if test="currency != null">#{currency,jdbcType=OTHER},</if>
            <if test="tradeMarket != null">#{tradeMarket,jdbcType=OTHER},</if>
        </trim>
    </insert>
</mapper>
