<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.pg.PlateDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.PlateDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="plateType" column="plate_type" jdbcType="INTEGER"/>
        <result property="market" column="market" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        plate_type,market
    </sql>
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into t_plate(name,code,plate_type,market)
        values
        <foreach collection="plateDtoCollection" item="item" separator=",">
            (#{item.name,jdbcType=VARCHAR},#{item.code,jdbcType=VARCHAR},#{item.plateType,jdbcType=INTEGER},#{item.market,jdbcType=INTEGER})
        </foreach>
    </insert>

    <select id="searchByMarketEquals" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_plate
        where
        market = #{market,jdbcType=INTEGER}
    </select>
    <select id="searchALLByStockId" resultMap="BaseResultMap">
        select p.id, name, code, plate_type, market
        from t_plate as p
                 left join t_plate_stock as pt on p.id = pt.plate_id
        where pt.stock_id = #{stockId,jdbcType=INTEGER}
    </select>
</mapper>
