<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.pg.PlateStockDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.PlateStockDto">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="plateId" column="plate_id" jdbcType="BIGINT"/>
            <result property="stockId" column="stock_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,plate_id,stock_id
    </sql>
    <insert id="insertBatch">
        insert into t_plate_stock(plate_id,stock_id)
        values
        <foreach collection="plateStockDtoCollection" item="item" separator=",">
            (#{item.plateId,jdbcType=NUMERIC},#{item.stockId,jdbcType=NUMERIC})
        </foreach>
    </insert>
</mapper>
