server:
  port: 9090
spring:
  mail:
    host: smtp.qq.com
    port: 465
    username: 983528987@qq.com
    password: ${email.password}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
          ssl.enable: true
  datasource:
    url: jdbc:postgresql://172.25.131.241:5432/quantx_3rd_futu
    username: postgres
    password: 123456
  liquibase:
    change-log: classpath:db/liquibase-changelog.xml
#  kafka:
#    bootstrap-servers: 172.21.90.92:9092
#    producer:
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
#      retries: 5
#    consumer:
#      max-poll-records: 500
#      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
#      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
ck:
  driverClass: com.clickhouse.jdbc.ClickHouseDriver
  url: jdbc:ch://172.25.131.241:8123/quantx
  user: default
  password: 123456
ft:
  url: 127.0.0.1
  port: 11111
  isEnableEncrypt: true
  pwd: 983528987fuck.