<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.AccInfoDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.AccInfoDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="accId" column="acc_id" jdbcType="VARCHAR"/>
        <result property="power" column="power" jdbcType="DOUBLE"/>
        <result property="totalAssets" column="total_assets" jdbcType="DOUBLE"/>
        <result property="cash" column="cash" jdbcType="DOUBLE"/>
        <result property="marketVal" column="market_val" jdbcType="DOUBLE"/>
        <result property="frozenCash" column="frozen_cash" jdbcType="DOUBLE"/>
        <result property="debtCash" column="debt_cash" jdbcType="DOUBLE"/>
        <result property="avlWithdrawalCash" column="avl_withdrawal_cash" jdbcType="DOUBLE"/>
        <result property="currency" column="currency" jdbcType="INTEGER"/>
        <result property="availableFunds" column="available_funds" jdbcType="DOUBLE"/>
        <result property="unrealizedPl" column="unrealized_pl" jdbcType="DOUBLE"/>
        <result property="realizedPl" column="realized_pl" jdbcType="DOUBLE"/>
        <result property="riskLevel" column="risk_level" jdbcType="INTEGER"/>
        <result property="initialMargin" column="initial_margin" jdbcType="DOUBLE"/>
        <result property="maintenanceMargin" column="maintenance_margin" jdbcType="DOUBLE"/>
        <result property="cashInfoList" column="cash_info_list" jdbcType="VARCHAR"/>
        <result property="maxPowerShort" column="max_power_short" jdbcType="DOUBLE"/>
        <result property="netCashPower" column="net_cash_power" jdbcType="DOUBLE"/>
        <result property="longMv" column="long_mv" jdbcType="DOUBLE"/>
        <result property="shortMv" column="short_mv" jdbcType="DOUBLE"/>
        <result property="pendingAsset" column="pending_asset" jdbcType="DOUBLE"/>
        <result property="maxWithdrawal" column="max_withdrawal" jdbcType="DOUBLE"/>
        <result property="riskStatus" column="risk_status" jdbcType="INTEGER"/>
        <result property="marginCallMargin" column="margin_call_margin" jdbcType="DOUBLE"/>
        <result property="isPdt" column="is_pdt" jdbcType="SMALLINT"/>
        <result property="pdtSeq" column="pdt_seq" jdbcType="VARCHAR"/>
        <result property="beginningDtbp" column="beginning_dtbp" jdbcType="DOUBLE"/>
        <result property="remainingDtbp" column="remaining_dtbp" jdbcType="DOUBLE"/>
        <result property="dtCallAmount" column="dt_call_amount" jdbcType="DOUBLE"/>
        <result property="dtStatus" column="dt_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,acc_id,power,
        total_assets,cash,market_val,
        frozen_cash,debt_cash,avl_withdrawal_cash,
        currency,available_funds,unrealized_pl,
        realized_pl,risk_level,initial_margin,
        maintenance_margin,cash_info_list,max_power_short,
        net_cash_power,long_mv,short_mv,
        pending_asset,max_withdrawal,risk_status,
        margin_call_margin,is_pdt,pdt_seq,
        beginning_dtbp,remaining_dtbp,dt_call_amount,
        dt_status
    </sql>
    <insert id="insertSelective">
        insert into t_acc_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accId != null">acc_id,</if>
            <if test="power != null">power,</if>
            <if test="totalAssets != null">total_assets,</if>
            <if test="cash != null">cash,</if>
            <if test="marketVal != null">market_val,</if>
            <if test="frozenCash != null">frozen_cash,</if>
            <if test="debtCash != null">debt_cash,</if>
            <if test="avlWithdrawalCash != null">avl_withdrawal_cash,</if>
            <if test="currency != null">currency,</if>
            <if test="availableFunds != null">available_funds,</if>
            <if test="unrealizedPl != null">unrealized_pl,</if>
            <if test="realizedPl != null">realized_pl,</if>
            <if test="riskLevel != null">risk_level,</if>
            <if test="initialMargin != null">initial_margin,</if>
            <if test="maintenanceMargin != null">maintenance_margin,</if>
            <if test="cashInfoList != null">cash_info_list,</if>
            <if test="maxPowerShort != null">max_power_short,</if>
            <if test="netCashPower != null">net_cash_power,</if>
            <if test="longMv != null">long_mv,</if>
            <if test="shortMv != null">short_mv,</if>
            <if test="pendingAsset != null">pending_asset,</if>
            <if test="maxWithdrawal != null">max_withdrawal,</if>
            <if test="riskStatus != null">risk_status,</if>
            <if test="marginCallMargin != null">margin_call_margin,</if>
            <if test="isPdt != null">is_pdt,</if>
            <if test="pdtSeq != null">pdt_seq,</if>
            <if test="beginningDtbp != null">beginning_dtbp,</if>
            <if test="remainingDtbp != null">remaining_dtbp,</if>
            <if test="dtCallAmount != null">dt_call_amount,</if>
            <if test="dtStatus != null">dt_status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accId != null">#{accId,jdbcType=VARCHAR},</if>
            <if test="power != null">#{power,jdbcType=DOUBLE},</if>
            <if test="totalAssets != null">#{totalAssets,jdbcType=DOUBLE},</if>
            <if test="cash != null">#{cash,jdbcType=DOUBLE},</if>
            <if test="marketVal != null">#{marketVal,jdbcType=DOUBLE},</if>
            <if test="frozenCash != null">#{frozenCash,jdbcType=DOUBLE},</if>
            <if test="debtCash != null">#{debtCash,jdbcType=DOUBLE},</if>
            <if test="avlWithdrawalCash != null">#{avlWithdrawalCash,jdbcType=DOUBLE},</if>
            <if test="currency != null">#{currency,jdbcType=INTEGER},</if>
            <if test="availableFunds != null">#{availableFunds,jdbcType=DOUBLE},</if>
            <if test="unrealizedPl != null">#{unrealizedPl,jdbcType=DOUBLE},</if>
            <if test="realizedPl != null">#{realizedPl,jdbcType=DOUBLE},</if>
            <if test="riskLevel != null">#{riskLevel,jdbcType=INTEGER},</if>
            <if test="initialMargin != null">#{initialMargin,jdbcType=DOUBLE},</if>
            <if test="maintenanceMargin != null">#{maintenanceMargin,jdbcType=DOUBLE},</if>
            <if test="cashInfoList != null">#{cashInfoList,jdbcType=VARCHAR},</if>
            <if test="maxPowerShort != null">#{maxPowerShort,jdbcType=DOUBLE},</if>
            <if test="netCashPower != null">#{netCashPower,jdbcType=DOUBLE},</if>
            <if test="longMv != null">#{longMv,jdbcType=DOUBLE},</if>
            <if test="shortMv != null">#{shortMv,jdbcType=DOUBLE},</if>
            <if test="pendingAsset != null">#{pendingAsset,jdbcType=DOUBLE},</if>
            <if test="maxWithdrawal != null">#{maxWithdrawal,jdbcType=DOUBLE},</if>
            <if test="riskStatus != null">#{riskStatus,jdbcType=INTEGER},</if>
            <if test="marginCallMargin != null">#{marginCallMargin,jdbcType=DOUBLE},</if>
            <if test="isPdt != null">#{isPdt,jdbcType=SMALLINT},</if>
            <if test="pdtSeq != null">#{pdtSeq,jdbcType=VARCHAR},</if>
            <if test="beginningDtbp != null">#{beginningDtbp,jdbcType=DOUBLE},</if>
            <if test="remainingDtbp != null">#{remainingDtbp,jdbcType=DOUBLE},</if>
            <if test="dtCallAmount != null">#{dtCallAmount,jdbcType=DOUBLE},</if>
            <if test="dtStatus != null">#{dtStatus,jdbcType=INTEGER},</if>
        </trim>
    </insert>
</mapper>
