<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.CapitalDistributionDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.CapitalDistributionDto">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="market" column="market" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="capitalInSuper" column="capital_in_super" jdbcType="DOUBLE"/>
            <result property="capitalInBig" column="capital_in_big" jdbcType="DOUBLE"/>
            <result property="capitalInMid" column="capital_in_mid" jdbcType="DOUBLE"/>
            <result property="capitalInSmall" column="capital_in_small" jdbcType="DOUBLE"/>
            <result property="capitalOutSuper" column="capital_out_super" jdbcType="DOUBLE"/>
            <result property="capitalOutBig" column="capital_out_big" jdbcType="DOUBLE"/>
            <result property="capitalOutMid" column="capital_out_mid" jdbcType="DOUBLE"/>
            <result property="capitalOutSmall" column="capital_out_small" jdbcType="DOUBLE"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,market,code,
        capital_in_super,capital_in_big,capital_in_mid,
        capital_in_small,capital_out_super,capital_out_big,
        capital_out_mid,capital_out_small,update_time
    </sql>
    <insert id="insertSelective">
        insert into t_capital_distribution
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="market != null">market,</if>
            <if test="code != null">code,</if>
            <if test="capitalInSuper != null">capital_in_super,</if>
            <if test="capitalInBig != null">capital_in_big,</if>
            <if test="capitalInMid != null">capital_in_mid,</if>
            <if test="capitalInSmall != null">capital_in_small,</if>
            <if test="capitalOutSuper != null">capital_out_super,</if>
            <if test="capitalOutBig != null">capital_out_big,</if>
            <if test="capitalOutMid != null">capital_out_mid,</if>
            <if test="capitalOutSmall != null">capital_out_small,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="market != null">#{market,jdbcType=INTEGER},</if>
            <if test="code != null">#{code,jdbcType=VARCHAR},</if>
            <if test="capitalInSuper != null">#{capitalInSuper,jdbcType=DOUBLE},</if>
            <if test="capitalInBig != null">#{capitalInBig,jdbcType=DOUBLE},</if>
            <if test="capitalInMid != null">#{capitalInMid,jdbcType=DOUBLE},</if>
            <if test="capitalInSmall != null">#{capitalInSmall,jdbcType=DOUBLE},</if>
            <if test="capitalOutSuper != null">#{capitalOutSuper,jdbcType=DOUBLE},</if>
            <if test="capitalOutBig != null">#{capitalOutBig,jdbcType=DOUBLE},</if>
            <if test="capitalOutMid != null">#{capitalOutMid,jdbcType=DOUBLE},</if>
            <if test="capitalOutSmall != null">#{capitalOutSmall,jdbcType=DOUBLE},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
</mapper>
