<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.IpoCnDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.IpoCnDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="market" column="market" jdbcType="OTHER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="listTime" column="list_time" jdbcType="DATE"/>
        <result property="applyCode" column="apply_code" jdbcType="VARCHAR"/>
        <result property="issueSize" column="issue_size" jdbcType="BIGINT"/>
        <result property="onlineIssueSize" column="online_issue_size" jdbcType="BIGINT"/>
        <result property="applyUpperLimit" column="apply_upper_limit" jdbcType="BIGINT"/>
        <result property="applyLimitMarketValue" column="apply_limit_market_value" jdbcType="BIGINT"/>
        <result property="isEstimateIpoPrice" column="is_estimate_ipo_price" jdbcType="SMALLINT"/>
        <result property="ipoPrice" column="ipo_price" jdbcType="DOUBLE"/>
        <result property="industryPeRate" column="industry_pe_rate" jdbcType="DOUBLE"/>
        <result property="isEstimateWinningRatio" column="is_estimate_winning_ratio" jdbcType="SMALLINT"/>
        <result property="winningRatio" column="winning_ratio" jdbcType="DOUBLE"/>
        <result property="issuePeRate" column="issue_pe_rate" jdbcType="DOUBLE"/>
        <result property="applyTime" column="apply_time" jdbcType="DATE"/>
        <result property="winningTime" column="winning_time" jdbcType="DATE"/>
        <result property="isHasWon" column="is_has_won" jdbcType="SMALLINT"/>
        <collection property="cnExWinningDtos" ofType="io.futakotome.trade.dto.IpoCnExWinningDto">
            <id column="cn_ex_id" property="id"/>
            <result column="winning_info" property="winningInfo"/>
            <result column="winning_name" property="winningName"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,market,
        code,list_time,apply_code,
        issue_size,online_issue_size,apply_upper_limit,
        apply_limit_market_value,is_estimate_ipo_price,ipo_price,
        industry_pe_rate,is_estimate_winning_ratio,winning_ratio,
        issue_pe_rate,apply_time,winning_time,
        is_has_won
    </sql>
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into t_ipo_cn(name,market,
        code,list_time,apply_code,
        issue_size,online_issue_size,apply_upper_limit,
        apply_limit_market_value,is_estimate_ipo_price,ipo_price,
        industry_pe_rate,is_estimate_winning_ratio,winning_ratio,
        issue_pe_rate,apply_time,winning_time,
        is_has_won)
        values
        <foreach collection="ipoCnDtoCollection" item="item" separator=",">
            (#{item.name,jdbcType=VARCHAR},#{item.market,jdbcType=INTEGER},
            #{item.code,jdbcType=VARCHAR},#{item.listTime},#{item.applyCode,jdbcType=VARCHAR},
            #{item.issueSize,jdbcType=NUMERIC},#{item.onlineIssueSize,jdbcType=NUMERIC},#{item.applyUpperLimit,jdbcType=NUMERIC},
            #{item.applyLimitMarketValue,jdbcType=NUMERIC},#{item.isEstimateIpoPrice,jdbcType=NUMERIC},#{item.ipoPrice,jdbcType=DECIMAL},
            #{item.industryPeRate,jdbcType=DECIMAL},#{item.isEstimateWinningRatio,jdbcType=NUMERIC},#{item.winningRatio,jdbcType=DECIMAL},
            #{item.issuePeRate,jdbcType=DECIMAL},#{item.applyTime},#{item.winningTime},
            #{item.isHasWon,jdbcType=NUMERIC})
        </foreach>
    </insert>
    <select id="findAll" resultMap="BaseResultMap">
        select t_ipo_cn.id,
               name,
               market,
               code,
               list_time,
               apply_code,
               issue_size,
               online_issue_size,
               apply_upper_limit,
               apply_limit_market_value,
               is_estimate_ipo_price,
               ipo_price,
               industry_pe_rate,
               is_estimate_winning_ratio,
               winning_ratio,
               issue_pe_rate,
               apply_time,
               winning_time,
               is_has_won,
               ticew.id as cn_ex_id,
               ticew.winning_name,
               ticew.winning_info
        from t_ipo_cn
                 left join t_ipo_cn_ex_winning ticew on t_ipo_cn.id = ticew.ipo_cn_id
    </select>
</mapper>
