<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.PositionDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.PositionDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="tradeEnv" column="trade_env" jdbcType="INTEGER"/>
        <result property="accId" column="acc_id" jdbcType="VARCHAR"/>
        <result property="accTradeMarket" column="acc_trade_market" jdbcType="INTEGER"/>
        <result property="positionId" column="position_id" jdbcType="BIGINT"/>
        <result property="positionSide" column="position_side" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="qty" column="qty" jdbcType="DOUBLE"/>
        <result property="canSellQty" column="can_sell_qty" jdbcType="DOUBLE"/>
        <result property="price" column="price" jdbcType="DOUBLE"/>
        <result property="costPrice" column="cost_price" jdbcType="DOUBLE"/>
        <result property="val" column="val" jdbcType="DOUBLE"/>
        <result property="plVal" column="pl_val" jdbcType="DOUBLE"/>
        <result property="plRatio" column="pl_ratio" jdbcType="DOUBLE"/>
        <result property="securityMarket" column="security_market" jdbcType="INTEGER"/>
        <result property="tdPlVal" column="td_pl_val" jdbcType="DOUBLE"/>
        <result property="tdTrdVal" column="td_trd_val" jdbcType="DOUBLE"/>
        <result property="tdBuyVal" column="td_buy_val" jdbcType="DOUBLE"/>
        <result property="tdBuyQty" column="td_buy_qty" jdbcType="DOUBLE"/>
        <result property="tdSellVal" column="td_sell_val" jdbcType="DOUBLE"/>
        <result property="tdSellQty" column="td_sell_qty" jdbcType="DOUBLE"/>
        <result property="unrealizedPl" column="unrealized_pl" jdbcType="DOUBLE"/>
        <result property="realizedPl" column="realized_pl" jdbcType="DOUBLE"/>
        <result property="currency" column="currency" jdbcType="INTEGER"/>
        <result property="tradeMarket" column="trade_market" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,trade_env,acc_id,
        acc_trade_market,position_id,position_side,
        code,name,qty,
        can_sell_qty,price,cost_price,
        val,pl_val,pl_ratio,
        security_market,td_pl_val,td_trd_val,
        td_buy_val,td_buy_qty,td_sell_val,
        td_sell_qty,unrealized_pl,realized_pl,
        currency,trade_market
    </sql>
    <insert id="insertSelective">
        insert into t_position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tradeEnv != null">trade_env,</if>
            <if test="accId != null">acc_id,</if>
            <if test="accTradeMarket != null">acc_trade_market,</if>
            <if test="positionId != null">position_id,</if>
            <if test="positionSide != null">position_side,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="qty != null">qty,</if>
            <if test="canSellQty != null">can_sell_qty,</if>
            <if test="price != null">price,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="val != null">val,</if>
            <if test="plVal != null">pl_val,</if>
            <if test="plRatio != null">pl_ratio,</if>
            <if test="securityMarket != null">security_market,</if>
            <if test="tdPlVal != null">td_pl_val,</if>
            <if test="tdTrdVal != null">td_trd_val,</if>
            <if test="tdBuyVal != null">td_buy_val,</if>
            <if test="tdBuyQty != null">td_buy_qty,</if>
            <if test="tdSellVal != null">td_sell_val,</if>
            <if test="tdSellQty != null">td_sell_qty,</if>
            <if test="unrealizedPl != null">unrealized_pl,</if>
            <if test="realizedPl != null">realized_pl,</if>
            <if test="currency != null">currency,</if>
            <if test="tradeMarket != null">trade_market,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tradeEnv != null">#{tradeEnv,jdbcType=NUMERIC},</if>
            <if test="accId != null">#{accId,jdbcType=VARCHAR},</if>
            <if test="accTradeMarket != null">#{accTradeMarket,jdbcType=NUMERIC},</if>
            <if test="positionId != null">#{positionId,jdbcType=BIGINT},</if>
            <if test="positionSide != null">#{positionSide,jdbcType=INTEGER},</if>
            <if test="code != null">#{code,jdbcType=VARCHAR},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="qty != null">#{qty,jdbcType=DOUBLE},</if>
            <if test="canSellQty != null">#{canSellQty,jdbcType=DOUBLE},</if>
            <if test="price != null">#{price,jdbcType=DOUBLE},</if>
            <if test="costPrice != null">#{costPrice,jdbcType=DOUBLE},</if>
            <if test="val != null">#{val,jdbcType=DOUBLE},</if>
            <if test="plVal != null">#{plVal,jdbcType=DOUBLE},</if>
            <if test="plRatio != null">#{plRatio,jdbcType=DOUBLE},</if>
            <if test="securityMarket != null">#{securityMarket,jdbcType=INTEGER},</if>
            <if test="tdPlVal != null">#{tdPlVal,jdbcType=DOUBLE},</if>
            <if test="tdTrdVal != null">#{tdTrdVal,jdbcType=DOUBLE},</if>
            <if test="tdBuyVal != null">#{tdBuyVal,jdbcType=DOUBLE},</if>
            <if test="tdBuyQty != null">#{tdBuyQty,jdbcType=DOUBLE},</if>
            <if test="tdSellVal != null">#{tdSellVal,jdbcType=DOUBLE},</if>
            <if test="tdSellQty != null">#{tdSellQty,jdbcType=DOUBLE},</if>
            <if test="unrealizedPl != null">#{unrealizedPl,jdbcType=DOUBLE},</if>
            <if test="realizedPl != null">#{realizedPl,jdbcType=DOUBLE},</if>
            <if test="currency != null">#{currency,jdbcType=INTEGER},</if>
            <if test="tradeMarket != null">#{tradeMarket,jdbcType=INTEGER},</if>
        </trim>
    </insert>
</mapper>
