<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.SnapshotFutureExDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.SnapshotFutureExDto">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="market" column="market" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="lastSettlePrice" column="last_settle_price" jdbcType="DOUBLE"/>
            <result property="position" column="position" jdbcType="INTEGER"/>
            <result property="positionChange" column="position_change" jdbcType="INTEGER"/>
            <result property="lastTradeTime" column="last_trade_time" jdbcType="DATE"/>
            <result property="isMainContract" column="is_main_contract" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,market,code,
        last_settle_price,position,position_change,
        last_trade_time,is_main_contract
    </sql>
    <insert id="insertBatch">
        insert into t_snapshot_future_ex(market,code,
        last_settle_price,position,position_change,
        last_trade_time,is_main_contract)
        values
        <foreach collection="snapshotFutureExDtoCollection" item="item" separator=",">
            (#{item.market,jdbcType=NUMERIC},#{item.code,jdbcType=VARCHAR},
            #{item.lastSettlePrice,jdbcType=DECIMAL},#{item.position,jdbcType=NUMERIC},#{item.positionChange,jdbcType=NUMERIC},
            #{item.lastTradeTime},#{item.isMainContract,jdbcType=BOOLEAN})
        </foreach>
    </insert>
</mapper>
