<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.SnapshotWarrantExDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.SnapshotWarrantExDto">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ownerMarket" column="owner_market" jdbcType="INTEGER"/>
            <result property="ownerCode" column="owner_code" jdbcType="VARCHAR"/>
            <result property="conversionRate" column="conversion_rate" jdbcType="DOUBLE"/>
            <result property="warrantType" column="warrant_type" jdbcType="INTEGER"/>
            <result property="strikePrice" column="strike_price" jdbcType="DOUBLE"/>
            <result property="maturityTime" column="maturity_time" jdbcType="VARCHAR"/>
            <result property="endTradeTime" column="end_trade_time" jdbcType="VARCHAR"/>
            <result property="recoveryPrice" column="recovery_price" jdbcType="DOUBLE"/>
            <result property="streetVolumn" column="street_volumn" jdbcType="BIGINT"/>
            <result property="issueVolumn" column="issue_volumn" jdbcType="BIGINT"/>
            <result property="streetRate" column="street_rate" jdbcType="DOUBLE"/>
            <result property="delta" column="delta" jdbcType="DOUBLE"/>
            <result property="impliedVolatility" column="implied_volatility" jdbcType="DOUBLE"/>
            <result property="premium" column="premium" jdbcType="DOUBLE"/>
            <result property="maturityTimestamp" column="maturity_timestamp" jdbcType="TIMESTAMP"/>
            <result property="endTradeTimestamp" column="end_trade_timestamp" jdbcType="TIMESTAMP"/>
            <result property="leverage" column="leverage" jdbcType="DOUBLE"/>
            <result property="ipop" column="ipop" jdbcType="DOUBLE"/>
            <result property="breakEventPoint" column="break_event_point" jdbcType="DOUBLE"/>
            <result property="conversionPrice" column="conversion_price" jdbcType="DOUBLE"/>
            <result property="priceRecoveryRatio" column="price_recovery_ratio" jdbcType="DOUBLE"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
            <result property="upperStrikePrice" column="upper_strike_price" jdbcType="DOUBLE"/>
            <result property="lowerStrikePrice" column="lower_strike_price" jdbcType="DOUBLE"/>
            <result property="inlinePriceStatus" column="inline_price_status" jdbcType="INTEGER"/>
            <result property="issuerCode" column="issuer_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,owner_market,owner_code,
        conversion_rate,warrant_type,strike_price,
        maturity_time,end_trade_time,recovery_price,
        street_volumn,issue_volumn,street_rate,
        delta,implied_volatility,premium,
        maturity_timestamp,end_trade_timestamp,leverage,
        ipop,break_event_point,conversion_price,
        price_recovery_ratio,score,upper_strike_price,
        lower_strike_price,inline_price_status,issuer_code
    </sql>
    <insert id="insertBatch">
        insert into t_snapshot_warrant_ex(owner_market,owner_code,
        conversion_rate,warrant_type,strike_price,
        maturity_time,end_trade_time,recovery_price,
        street_volumn,issue_volumn,street_rate,
        delta,implied_volatility,premium,
        maturity_timestamp,end_trade_timestamp,leverage,
        ipop,break_event_point,conversion_price,
        price_recovery_ratio,score,upper_strike_price,
        lower_strike_price,inline_price_status,issuer_code)
        values
        <foreach collection="snapshotWarrantExDtoCollection" item="item" separator=",">
            (#{item.ownerMarket,jdbcType=NUMERIC},#{item.ownerCode,jdbcType=VARCHAR},
            #{item.conversionRate,jdbcType=DECIMAL},#{item.warrantType,jdbcType=NUMERIC},#{item.strikePrice,jdbcType=DECIMAL},
            #{item.maturityTime,jdbcType=VARCHAR},#{item.endTradeTime,jdbcType=VARCHAR},#{item.recoveryPrice,jdbcType=DECIMAL},
            #{item.streetVolumn,jdbcType=NUMERIC},#{item.issueVolumn,jdbcType=NUMERIC},#{item.streetRate,jdbcType=DECIMAL},
            #{item.delta,jdbcType=DECIMAL},#{item.impliedVolatility,jdbcType=DECIMAL},#{item.premium,jdbcType=DECIMAL},
            #{item.maturityTimestamp},#{item.endTradeTimestamp},#{item.leverage,jdbcType=DECIMAL},
            #{item.ipop,jdbcType=DECIMAL},#{item.breakEventPoint,jdbcType=DECIMAL},#{item.conversionPrice,jdbcType=DECIMAL},
            #{item.priceRecoveryRatio,jdbcType=DECIMAL},#{item.score,jdbcType=DECIMAL},#{item.upperStrikePrice,jdbcType=DECIMAL},
            #{item.lowerStrikePrice,jdbcType=DECIMAL},#{item.inlinePriceStatus,jdbcType=NUMERIC},#{item.issuerCode,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>
