<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.SnapshotBaseDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.SnapshotBaseDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="market" column="market" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="isSuspend" column="is_suspend" jdbcType="BOOLEAN"/>
        <result property="listTime" column="list_time" jdbcType="DATE"/>
        <result property="lotSize" column="lot_size" jdbcType="INTEGER"/>
        <result property="priceSpread" column="price_spread" jdbcType="DOUBLE"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="highPrice" column="high_price" jdbcType="DOUBLE"/>
        <result property="openPrice" column="open_price" jdbcType="DOUBLE"/>
        <result property="lowPrice" column="low_price" jdbcType="DOUBLE"/>
        <result property="lastClosePrice" column="last_close_price" jdbcType="DOUBLE"/>
        <result property="curPrice" column="cur_price" jdbcType="DOUBLE"/>
        <result property="volume" column="volume" jdbcType="BIGINT"/>
        <result property="turnover" column="turnover" jdbcType="DOUBLE"/>
        <result property="turnoverRate" column="turnover_rate" jdbcType="DOUBLE"/>
        <result property="askPrice" column="ask_price" jdbcType="DOUBLE"/>
        <result property="bidPrice" column="bid_price" jdbcType="DOUBLE"/>
        <result property="askVol" column="ask_vol" jdbcType="BIGINT"/>
        <result property="bidVol" column="bid_vol" jdbcType="BIGINT"/>
        <result property="amplitude" column="amplitude" jdbcType="DOUBLE"/>
        <result property="avgPrice" column="avg_price" jdbcType="DOUBLE"/>
        <result property="bidAskRatio" column="bid_ask_ratio" jdbcType="DOUBLE"/>
        <result property="volumeRatio" column="volume_ratio" jdbcType="DOUBLE"/>
        <result property="highest52WeeksPrice" column="highest_52_weeks_price" jdbcType="DOUBLE"/>
        <result property="lowest52WeeksPrice" column="lowest_52_weeks_price" jdbcType="DOUBLE"/>
        <result property="highestHistoryPrice" column="highest_history_price" jdbcType="DOUBLE"/>
        <result property="lowestHistoryPrice" column="lowest_history_price" jdbcType="DOUBLE"/>
        <result property="prePrice" column="pre_price" jdbcType="DOUBLE"/>
        <result property="preHighPrice" column="pre_high_price" jdbcType="DOUBLE"/>
        <result property="preLowPrice" column="pre_low_price" jdbcType="DOUBLE"/>
        <result property="preVolume" column="pre_volume" jdbcType="BIGINT"/>
        <result property="preTurnover" column="pre_turnover" jdbcType="DOUBLE"/>
        <result property="preChangeVal" column="pre_change_val" jdbcType="DOUBLE"/>
        <result property="preChangeRate" column="pre_change_rate" jdbcType="DOUBLE"/>
        <result property="preAmplitude" column="pre_amplitude" jdbcType="DOUBLE"/>
        <result property="afterPrice" column="after_price" jdbcType="DOUBLE"/>
        <result property="afterHighPrice" column="after_high_price" jdbcType="DOUBLE"/>
        <result property="afterLowPrice" column="after_low_price" jdbcType="DOUBLE"/>
        <result property="afterVolume" column="after_volume" jdbcType="BIGINT"/>
        <result property="afterTurnover" column="after_turnover" jdbcType="DOUBLE"/>
        <result property="afterChangeVal" column="after_change_val" jdbcType="DOUBLE"/>
        <result property="afterChangeRate" column="after_change_rate" jdbcType="DOUBLE"/>
        <result property="afterAmplitude" column="after_amplitude" jdbcType="DOUBLE"/>
        <result property="secStatus" column="sec_status" jdbcType="INTEGER"/>
        <result property="closePrice5Minute" column="close_price_5_minute" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,market,code,
        name,type,is_suspend,
        list_time,lot_size,price_spread,
        update_time,high_price,open_price,
        low_price,last_close_price,cur_price,
        volume,turnover,turnover_rate,
        ask_price,bid_price,ask_vol,
        bid_vol,amplitude,avg_price,
        bid_ask_ratio,volume_ratio,highest_52_weeks_price,
        lowest_52_weeks_price,highest_history_price,lowest_history_price,
        pre_price,pre_high_price,pre_low_price,
        pre_volume,pre_turnover,pre_change_val,
        pre_change_rate,pre_amplitude,after_price,
        after_high_price,after_low_price,after_volume,
        after_turnover,after_change_val,after_change_rate,
        after_amplitude,sec_status,close_price_5_minute
    </sql>
    <insert id="insertBatch">
        insert into t_snapshot_base(market,code,
        name,type,is_suspend,
        list_time,lot_size,price_spread,
        update_time,high_price,open_price,
        low_price,last_close_price,cur_price,
        volume,turnover,turnover_rate,
        ask_price,bid_price,ask_vol,
        bid_vol,amplitude,avg_price,
        bid_ask_ratio,volume_ratio,highest_52_weeks_price,
        lowest_52_weeks_price,highest_history_price,lowest_history_price,
        pre_price,pre_high_price,pre_low_price,
        pre_volume,pre_turnover,pre_change_val,
        pre_change_rate,pre_amplitude,after_price,
        after_high_price,after_low_price,after_volume,
        after_turnover,after_change_val,after_change_rate,
        after_amplitude,sec_status,close_price_5_minute)
        values
        <foreach collection="snapshotBaseDtoCollection" item="item" separator=",">
            (#{item.market,jdbcType=NUMERIC},#{item.code,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR},#{item.type,jdbcType=NUMERIC},#{item.isSuspend,jdbcType=BOOLEAN},
            #{item.listTime},#{item.lotSize,jdbcType=NUMERIC},#{item.priceSpread,jdbcType=DECIMAL},
            #{item.updateTime},#{item.highPrice,jdbcType=DECIMAL},#{item.openPrice,jdbcType=DECIMAL},
            #{item.lowPrice,jdbcType=DECIMAL},#{item.lastClosePrice,jdbcType=DECIMAL},#{item.curPrice,jdbcType=DECIMAL},
            #{item.volume,jdbcType=NUMERIC},#{item.turnover,jdbcType=DECIMAL},#{item.turnoverRate,jdbcType=DECIMAL},
            #{item.askPrice,jdbcType=DECIMAL},#{item.bidPrice,jdbcType=DECIMAL},#{item.askVol,jdbcType=NUMERIC},
            #{item.bidVol,jdbcType=NUMERIC},#{item.amplitude,jdbcType=DECIMAL},#{item.avgPrice,jdbcType=DECIMAL},
            #{item.bidAskRatio,jdbcType=DECIMAL},#{item.volumeRatio,jdbcType=DECIMAL},#{item.highest52WeeksPrice,jdbcType=DECIMAL},
            #{item.lowest52WeeksPrice,jdbcType=DECIMAL},#{item.highestHistoryPrice,jdbcType=DECIMAL},#{item.lowestHistoryPrice,jdbcType=DECIMAL},
            #{item.prePrice,jdbcType=DECIMAL},#{item.preHighPrice,jdbcType=DECIMAL},#{item.preLowPrice,jdbcType=DECIMAL},
            #{item.preVolume,jdbcType=NUMERIC},#{item.preTurnover,jdbcType=DECIMAL},#{item.preChangeVal,jdbcType=DECIMAL},
            #{item.preChangeRate,jdbcType=DECIMAL},#{item.preAmplitude,jdbcType=DECIMAL},#{item.afterPrice,jdbcType=DECIMAL},
            #{item.afterHighPrice,jdbcType=DECIMAL},#{item.afterLowPrice,jdbcType=DECIMAL},#{item.afterVolume,jdbcType=NUMERIC},
            #{item.afterTurnover,jdbcType=DECIMAL},#{item.afterChangeVal,jdbcType=DECIMAL},#{item.afterChangeRate,jdbcType=DECIMAL},
            #{item.afterAmplitude,jdbcType=DECIMAL},#{item.secStatus,jdbcType=NUMERIC},#{item.closePrice5Minute,jdbcType=DECIMAL})
        </foreach>
    </insert>
</mapper>
