<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.futakotome.trade.mapper.SnapshotOptionExDtoMapper">

    <resultMap id="BaseResultMap" type="io.futakotome.trade.dto.SnapshotOptionExDto">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ownerMarket" column="owner_market" jdbcType="INTEGER"/>
            <result property="ownerCode" column="owner_code" jdbcType="VARCHAR"/>
            <result property="optionType" column="option_type" jdbcType="INTEGER"/>
            <result property="strikeTime" column="strike_time" jdbcType="VARCHAR"/>
            <result property="strikePrice" column="strike_price" jdbcType="DOUBLE"/>
            <result property="contractSize" column="contract_size" jdbcType="INTEGER"/>
            <result property="contractSizeFloat" column="contract_size_float" jdbcType="DOUBLE"/>
            <result property="openInterest" column="open_interest" jdbcType="INTEGER"/>
            <result property="impliedVolatility" column="implied_volatility" jdbcType="DOUBLE"/>
            <result property="premium" column="premium" jdbcType="DOUBLE"/>
            <result property="delta" column="delta" jdbcType="DOUBLE"/>
            <result property="gamma" column="gamma" jdbcType="DOUBLE"/>
            <result property="vega" column="vega" jdbcType="DOUBLE"/>
            <result property="theta" column="theta" jdbcType="DOUBLE"/>
            <result property="rho" column="rho" jdbcType="DOUBLE"/>
            <result property="indexOptionType" column="index_option_type" jdbcType="INTEGER"/>
            <result property="netOpenInterest" column="net_open_interest" jdbcType="INTEGER"/>
            <result property="expiryDateDistance" column="expiry_date_distance" jdbcType="INTEGER"/>
            <result property="contractNominalValue" column="contract_nominal_value" jdbcType="DOUBLE"/>
            <result property="ownerLotMultiplier" column="owner_lot_multiplier" jdbcType="DOUBLE"/>
            <result property="optionAreaType" column="option_area_type" jdbcType="INTEGER"/>
            <result property="contractMultiplier" column="contract_multiplier" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,owner_market,owner_code,
        option_type,strike_time,strike_price,
        contract_size,contract_size_float,open_interest,
        implied_volatility,premium,delta,
        gamma,vega,theta,
        rho,index_option_type,net_open_interest,
        expiry_date_distance,contract_nominal_value,owner_lot_multiplier,
        option_area_type,contract_multiplier
    </sql>
    <insert id="insertBatch">
        insert into t_snapshot_option_ex(owner_market,owner_code,
        option_type,strike_time,strike_price,
        contract_size,contract_size_float,open_interest,
        implied_volatility,premium,delta,
        gamma,vega,theta,
        rho,index_option_type,net_open_interest,
        expiry_date_distance,contract_nominal_value,owner_lot_multiplier,
        option_area_type,contract_multiplier)
        values
        <foreach collection="snapshotOptionExDtoCollection" item="item" separator=",">
            (#{item.ownerMarket,jdbcType=NUMERIC},#{item.ownerCode,jdbcType=VARCHAR},
            #{item.optionType,jdbcType=NUMERIC},#{item.strikeTime,jdbcType=VARCHAR},#{item.strikePrice,jdbcType=DECIMAL},
            #{item.contractSize,jdbcType=NUMERIC},#{item.contractSizeFloat,jdbcType=DECIMAL},#{item.openInterest,jdbcType=NUMERIC},
            #{item.impliedVolatility,jdbcType=DECIMAL},#{item.premium,jdbcType=DECIMAL},#{item.delta,jdbcType=DECIMAL},
            #{item.gamma,jdbcType=DECIMAL},#{item.vega,jdbcType=DECIMAL},#{item.theta,jdbcType=DECIMAL},
            #{item.rho,jdbcType=DECIMAL},#{item.indexOptionType,jdbcType=NUMERIC},#{item.netOpenInterest,jdbcType=NUMERIC},
            #{item.expiryDateDistance,jdbcType=NUMERIC},#{item.contractNominalValue,jdbcType=DECIMAL},#{item.ownerLotMultiplier,jdbcType=DECIMAL},
            #{item.optionAreaType,jdbcType=NUMERIC},#{item.contractMultiplier,jdbcType=DECIMAL})
        </foreach>
    </insert>
</mapper>
